<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= todo.completed? ? "Completed" : "not Completed" %>
  </p>

</div>
